# Required — fill in before deploying
PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=faraday
POSTGRES_USER=faraday
POSTGRES_PASSWORD=
PGSSLMODE=disable
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_BACKEND_URL=redis://redis:6379/1
FARADAY_DISABLE_CHANGE_PASSWORD=false
